<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OSCS.Properties.Settings.oscsConnectionString" connectionString="server=localhost;user id=root;password=root;database=oscs;sslmode=None"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>