<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<log4net>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1"/>
			<connectionType value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"/>
			<connectionStringName value="oscs"/>
			<commandText value="INSERT INTO logs (logDateTime,logLevel,logSource,logMessage,logException,userID) VALUES (@log_datetime,@log_level, @log_source, @log_message, @log_Exception, @userID);"/>
			<commandType value="Text"/>
			<parameter>
				<parameterName value="@log_datetime"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@log_level"/>
				<dbType value="AnsiString"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_source"/>
				<dbType value="AnsiString"/>
				<size value="300"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_message"/>
				<dbType value="AnsiString"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_Exception"/>
				<dbType value="AnsiString"/>
				<size value="4000"/>
				<layout type="log4net.Layout.ExceptionLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@userID"/>
				<dbType value="Int32"/>
				<size value="11"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{userID}"/>
				</layout>
			</parameter>
		</appender>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="AdoNetAppender"/>
		</root>
	</log4net>
	
	<connectionStrings>
		<add name="oscs" connectionString="Data Source=localhost;Initial Catalog=oscs;Integrated Security=True; User ID=root;Password=root; SslMode=none"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>